; config.ini
[DEFAULT]
SECRET_KEY = 
HOST = 
PORT = 
USER = 
PASSWD = 
DB = 
CHARSET = 
ACCESS_KEY_ID = 
ACCESS_KEY_SECRET = 

[TEST]
SECRET_KEY = 
HOST = 
PORT = 
USER = 
PASSWD = 
DB = 
CHARSET = 
ACCESS_KEY_ID = 
ACCESS_KEY_SECRET = 

[CI]
SERVICE = 
HOOK_URL = 
